body {
    margin: 8px 12px;
    background-color: rgb(239, 231, 214);
}

::-webkit-scrollbar {
	width: 12px;
  }

  ::-webkit-scrollbar-thumb {
	background-color: black;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

:root{
	--wdth: 100;
	--color: black;
}

.title {
    width: calc(100% - 3.5px);
    border: 1.5px solid black;
}

h1 {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 56px;
    line-height: 60px;
    margin: 10px;
    margin-bottom: 14px;
}

.indexcon {
    float:left;
    width: 280px;
    height: calc(100vh - 106px);
    border: 1.5px solid black;
    border-top: hidden;
    border-right: hidden;
    overflow: scroll;
    overflow-x: hidden;
    /*overflow-y: hidden; add when there's a needing of scrollbar*/
}
   

.row:after {
	content: "";
	display: table;
	clear: both;
}

.index1, .index2, .index3, .index4, .index5, .index6 {
    width: 100%;
    height: calc((100vh - 112px) /5);
    border-bottom: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*the last index*/ .index6 {
    border-bottom: hidden;
}

.viewpoint {
    float: left;
    width: calc(100% - 285px);
    height: calc(100vh - 106px);
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
}

#poem {
    height: 100%;
    transform: translateY(-49px);
    justify-content: center;
    align-items: center; 
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

#crossed {
    height: calc(100vh - 106px);
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1.3px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 1.3px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1.3px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 1.3px),
            rgba(0,0,0,0) 100%);
}

#x {
    display: none;
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer !important;
    position: relative;
    z-index: 2;
}

svg {
    width: 60%;
    height: 60%;
    display: block;
}

rect {
    width: 100%;
    height: 100%;
}




#sound, #whispered, #vanity, #goodbye, #particles, #cig {
    display: none;
    font-family: freight-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    max-height: 90%;

}

.index1:hover, .index2:hover, .index3:hover, .index4:hover, .index5:hover, .index6:hover {
    background-color: rgb(231, 214, 178);
    cursor: pointer !important;
}


center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#vanitypic, #soundpic, #whisperedpic, #goodbyepic, #particlespic, #cigpic {
    width: 60%;
    height: 60%;
    object-fit: cover;
    cursor: pointer !important;
}

#vanityword, #vanitydate, #vanitytitle, #soundword, #sounddate, #soundtitle,#whisperedword, #whispereddate, #whisperedtitle, #goodbyeword, #goodbyedate, #goodbyetitle, #particlesword, #particlesdate, #particlestitle, #cigword, #cigdate, #cigtitle {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    cursor: pointer !important;  
}



#vanitycolor {
    fill: rgb(99, 37, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;  
    height: 100%;
}

#soundcolor {
    fill: rgb(39, 47, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;  
    height: 100%;
}

#whisperedcolor {
    fill: rgb(186, 221, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;  
    height: 100%;
}

#goodbyecolor {
    fill: rgb(184, 96, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;  
    height: 100%;
}

#particlescolor {
    fill: rgb(255, 149, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;  
    height: 100%;
}

#cigcolor {
    fill: rgb(187, 187, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;  
    height: 100%;
}





@media screen and (max-width: 950px) {
	.indexcon {
        width: 180px;
    }

    .viewpoint {
        width: calc(100% - 185px);
    }

    #vanityword, #vanitydate, #vanitytitle, #soundword, #sounddate, #soundtitle,#whisperedword, #whispereddate, #whisperedtitle, #goodbyeword, #goodbyedate, #goodbyetitle, #particlesword, #particlesdate, #particlestitle, #cigword, #cigdate, #cigtitle {
        font-size: 24px;
    }

    h1 {
        font-size: 50px;
    }

    #sound, #whispered, #vanity, #goodbye, #particles, #cig {
        font-size: 18px;
    }
    .index1, .index2, .index3, .index4, .index5, .index6 {
        width: 100%;
        height: calc((100vh - 106px) /6);
    }
    .indexcon {
        overflow-y: hidden;
    }
}

@media screen and (max-width: 750px) {
	.indexcon {
        width: 90px;
    }

    .viewpoint {
        width: calc(100% - 115px);
    }

    #vanityword, #vanitydate, #vanitytitle, #soundword, #sounddate, #soundtitle,#whisperedword, #whispereddate, #whisperedtitle, #goodbyeword, #goodbyedate, #goodbyetitle, #particlesword, #particlesdate, #particlestitle, #cigword, #cigdate, #cigtitle {
        font-size: 20px;
    }

    h1 {
        font-size: 42px;
    }

    #sound, #whispered, #vanity, #goodbye, #particles, #cig {
        font-size: 15px;
        margin-left: 12px;
    }
    .index1, .index2, .index3, .index4, .index5, .index6 {
        width: 100%;
        height: calc((100vh - 106px) /6);
    }
    .indexcon {
        overflow-y: hidden;
    }
    #x {
        width: 25px;
    }
}