body {
    margin: 8px 12px;
    background-color: rgb(239, 231, 214);
}

::-webkit-scrollbar {
	width: 12px;
  }
   
  ::-webkit-scrollbar-thumb {
	background-color: black;
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

:root{
	--wdth: 100;
	--color: black;
}

.title {
    width: calc(100% - 3.5px);
    border: 1.5px solid black;
}

h1 {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 56px;
    line-height: 60px;
    margin: 8px;
}

.indexcon {
    float:left;
    width: 280px;
    border: 1.5px solid black;
    border-top: hidden;
    border-bottom: hidden;
    border-right: hidden;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.index {
    width: 100%;
    height: calc((100vh - 106px) /5);
    border-bottom: 1.5px solid black;
}

.viewpoint {
    float: left;
    width: calc(100% - 285px);
    height: calc(100vh - 100px);
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid black;
}

#poem {
    height: 100%;
    transform: translateY(-60px);
    justify-content: center;
    align-items: center; 
    display: none;
    overflow: scroll;
    overflow-x: hidden;
}

#crossed {
    height: calc(100vh - 100px);
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1.3px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 1.3px),
            rgba(0,0,0,0) 100%),
        linear-gradient(to top right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1.3px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 1.3px),
            rgba(0,0,0,0) 100%);
}

#x {
    display: none;
    font-size: 50px;
    margin-left: 8px;
    cursor: pointer !important;
}


#sound, #whispered, #vanity, #goodbye, #particles {
    display: none;
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    max-height: 90%;

}

#soundword:hover, #whisperedcolor:hover, #vanitypic:hover, #goodbyedate:hover, #particlestitle:hover {
    background-color: rgb(231, 214, 178);
    cursor: pointer !important;
}



#soundword {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: calc((100vh - 106px) /5);
    text-align: center;
    cursor: pointer !important;  
}

#whisperedcolor {
    background-color: rgb(186, 221, 244);
    cursor: pointer !important;  
}

#vanitypic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer !important;
}

#goodbyedate {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: calc((100vh - 106px) /5);
    text-align: center;
    cursor: pointer !important;  
}

#particlestitle {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: calc((100vh - 106px) /5);
    text-align: center;
    cursor: pointer !important;  
}